@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

* {
	font-family: 'Plus Jakarta Sans', serif;
}

body {
	@apply bg-light-grey;
	height: 100dvh;
}

.content-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.task-card {
	width: 75dvw;
}
@media screen and (min-width: 650px) {
	.task-card {
		width: 30dvw;
	}
}

.body-m {
	font-weight: bold;
	font-size: 0.75rem;
	line-height: 0.9375rem;
}

.body-l {
	font-weight: medium;
	font-size: 0.8125rem;
	line-height: 1.4375rem;
}

.heading-s {
	font-weight: bold;
	font-size: 0.75rem;
	line-height: 0.9375rem;
	letter-spacing: 2.4px;
}

.heading-m {
	font-weight: bold;
	font-size: 0.9375rem;
	line-height: 1.1875rem;
}

.heading-l {
	font-weight: bold;
	font-size: 1.125rem;
	line-height: 1.4375rem;
}
